body {
    --text: #050315;
    --background: #749b63;
    --primary: #7b7c70;
    --secondary: #977351;
    --accent: #f0f6ed;

}

* {
    border: 1px solid var(--accent);
    padding-left: 1px;
    padding-right: 1px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 600px;
    border-color: white;
}

body {
    color: var(--text);
    background: var(--background);
    font-family: "noto sans";
    font-style: italic;
    text-decoration-style: unset;
}

h1,
h2,
h3 {
    font-family: "lobster";
    font-size: x-large;
    text-decoration-thickness: larger;
}

img {
    border-radius: 10000px;
}

a:link {
    color: darkblue;
}

a:visited {
    color: black;
}