.root {
    --text: #050315;
    --background: #749b63;
    --primary: #7b7c70;
    --secondary: #977351;
    --accent: #f0f6ed;

}

body {
    color: var(--text);
    background: var(--background);
    font-family: "noto sans";
}

h1,
h2,
h3 {
    font-family: "lobster";
}